<!DOCTYPE html>

<html lang="en">
<head>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
       body {
        margin:40px 100px;
        }
        #footer {
        	background: #222;
        	border-top: 1px solid #222;
        	margin: 0;
        	padding: 0;
          width: 100%;
          position: fixed;
    left: 0;
    bottom: 0;

    text-align: center;
        }
        #footer > div {
        	margin: 0 auto;
        	padding: 10px 0 10px;
        	overflow: hidden;
        	text-align: center;
        	width: 100%;
        }
        #footer div p {
        	color: #000;
        	display: inline-block;
        	font-size: 12px;
        	letter-spacing: 0.05em;
        	margin: 0;
        	padding: 10px 0 0;
        	text-align: center;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <a class="navbar-brand"><i class="fa fa-trademark" style="padding-right:20px;padding-left:20px;" ></i></a>
    </div> -->
    <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
      <li><a href="/{{user.username}}/">Profile</a></li>
      <li><a href="/{{user.username}}/friends/">Friends</a></li>
      <!-- <li><a href="#">Shop</a></li> -->
      <!-- <li><a href="#"><span class="glyphicon glyphicon-align-justify"></span></a></li> -->

    </ul>


      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a href="/{{user.username}}/">{{user}}</a></li>
          <li><a href="/logout/"> logout </a></li>

          {% else %}
          <li><a href="/reg/"> Register </a></li>
          <li><a href="/login/"> Login </a></li>
          {% endif %}


      <form class="navbar-form navbar-right" method="post" action="">
        {% csrf_token %}

        <div class="form-group" style="background-color:#333;">
        <div class="input-group" >
        <div class="input-group-addon" style="background-color:black;border-color:black;"><span class="glyphicon glyphicon-search"></span></div>
        <input type="text" name="search" class="form-control" placeholder="Start Searching" style="background-color:black;border-color:black;">

        </div>
        </div>


      </form>
            </ul>

  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="card">
      <div class="form-group">
    {% if user.is_authenticated %}

<form method="post" action="">
                   {% csrf_token %}

  <label for="comment">Post:</label>
  <textarea class="form-control" rows="5" id="comment" name="postbody"></textarea>
  <button type="submit" class="btn">Post</button>
</form>
</div>
</div>
</div>
<br>
<br>
{%for post in posts%}
    <div class="row">
  <div class="card">
<div class="card-body">
    <a name="{{post.pk}}"></a>
  <h4 class="card-title">{{post.user}}</h4>
  <p class="card-text">{{post.postbody}}</p>
    <p class="card-text">{{post.updated}}</p>

    <div class="form-group mx-sm-3 mb-2">

    {% if post.likes.count > 0 %}
        <h5>{{post.likes.count}} likes</h5>
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="like" value="">
        <input type="hidden" name="post_id" value="{{ post.pk }}">
        <button type="submit" class="btn">Like</button>
    </form>

  <a href="#" class="card-link">Comment</a>
  </div>
    <br> <br> <br>
</div>
</div>
</div>
    {% endfor %}
    {%endif%}
<br>
<br>
<div class="row">
  <div class="card">
<div class="card-body">
  <h4 class="card-title">HELLO</h4>
  <p class="card-text">its free and always will be</p>
  <a href="#" class="card-link">Like</a>
  <a href="#" class="card-link">Comment</a>
</div>
</div>
</div>
<div class="container-fluid" id="footer">
   <div>
     <p>
       &copy; copyright 2023 | all rights reserved.
     </p>
   </div>
 </div>


       <!-- <div class="row">
           <div class="input-group" >
  <span class="input-group-addon" ><i class="fa fa-user" ></i></span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>
       </div>
        <div class="row"  >
           <div class="input-group">
  <span class="input-group-addon" ><i class="fa fa-key" ></i></span>
  <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
</div>
       </div>
        <div class="row"  >
           <button type="button" class="btn" style="width:100%;">Sign In</button>
       </div>
    </div>
     <div class="col-sm-7" >
         <iframe width="560" height="295" src="https://www.youtube.com/embed/2Q-WvmvLGoo" frameborder="0" allowfullscreen></iframe>
     </div>
       </div>
        <div class=row">
<div class="col-sm-5">

</div>
    </div>


</div> -->
</div>
</body>
</html>