{% load staticfiles %}

<html>
<head>
<title>sign up</title>
<meta charset="utf-8">
<link rel="stylesheet" href= "{% static 'social_network/login.css' %}"/>
</head>
<body>
<div class="container">
<img src="{% static 'social_network/images/pen.JPG' %}"  width=1500px height=800px>
<div class="box">

<img src="{% static 'social_network/images/gl.JPG' %}">
<h1>login here</h1>

    {% if error_message %}
        <p><strong>{{error_message}}</strong></p>
    {% endif %}
    <form method="post" action="" role="form">
        {% csrf_token %}

<input type="text" name="username" placeholder="enter username">
<input type="password" name="password1" placeholder="enter password">
<input type="password" name="password2" placeholder="re-enter password">
<input type="email" name="email" placeholder="enter Email">
<input type="text" name="first_name" placeholder="enter first name">
<input type="text" name ="last_name" placeholder="enter last name">
<input type="text" name ="birth_date" placeholder="enter birth date">
<input type="text" name ="gender" placeholder="enter gender">
<input type="text" name ="mobile_number" placeholder="enter mobile number">


    <button type="submit" class="create">create a new account</button>
</form>

</div>
</div>
</body>
</html>
