{% load staticfiles %}

<html>
<head>
<title>login</title>
<meta charset="utf-8">
<link rel="stylesheet" href= "{% static 'social_network/login.css' %}"/>
</head>
<body>
<div class="container">
<img src="{% static 'social_network/images/pen.JPG' %}"  width=1500px height=800px>
<div class="box">

<img src="{% static 'social_network/images/gl.JPG' %}">
<h1>login here</h1>
    <form method="post">
    {% csrf_token %}
<input type="text" name="username" placeholder="enter username">
<input type="password" name="password" placeholder="enter password">
<button type="submit" class="login">login</button>
        <br>
    <br>


    <p> OR </p>
        <br>

    <button class="create">create a new account</button>
</form>
</div>
</div>
</body>
</html>
